{% extends 'admin_app/base.html' %}
{% block content %}
  <head>
    <style>
      .container {
        color: #FFFFFF;
      }
    </style>
  </head>
  <div class="container">
    <div class="row">

      <div class="col-4"></div>

      <div class="col-4 align-middle">
        <h2><br><br>Admin Login</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.as_p }}
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>

      <div class="col-4"></div>

    </div>
  </div>
  
{% endblock %}
