{% extends 'admin_app/base.html' %}

{% block content %}
<div class="container" >
  <div class="row"></div>
    <div class="col-3">
    </div>
    <div class="col-6" style="color:#FFFFFF;">
      <H1>My Profile</H1>
      <form action="/admins/profile" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Name: {{admin.name}}</label><br>
          <input class="form-control" type="text" id="name" name="name"><br>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
{% endblock %}
