{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body style = "background-color: #F56600;">
            <div class="container">
              <div class="row">
                <div class="col-1">
                  <div class="sidenav">
                    <a href="/sponsors">Home</a>
                    <a href="/sponsors/my_drivers">My Drivers</a>
                    <a href="/sponsors/catalog">My Catalog</a>
                    <a href="/sponsors/get_drivers">Get New Drivers</a>
                    <a href="/sponsors/profile">Profile</a>
                    <a href="/sponsors/logout">Logout</a>
                  </div>
                </div>
                <div class="col-9">
                  {% if messages %}
                    {% for message in messages %}
                      <p style="color: red">{{ message }}</p>
                    {% endfor %}
                  {% endif %}
      
                  {% block content %}
                  {% endblock %}
                </div>
              </div>
            </div>
          </body>
</html>
