{% extends 'sponsor_app/base.html' %}
{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="card card-login card-inline">
              <div class="card-body">
                <h1 class="card-title" style="float: left;">Catalog</h1>
                <div style="float: right;">
                <form class="form-inline my-2 my-lg-0" action="catalog" method='POST'>
                  {% csrf_token %}
                  <input class="form-control mr-sm-2" id="search_param" name="search_param" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn button-clem" type="submit">Search</button>
                </form>
              </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="row">
        {% for item in catalog %}
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src={{item.imageURL}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">${{item.price}}</h5>
              <p class="card-text">{{item.name}}</p>
              <a href="/sponsors" class="btn btn-primary button-clem">View</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endblock %}
