{% extends 'sponsor_app/base.html' %}
{% block content %}
<H1>Catalog</H1>
      
      <div class="container">
      <div class="row">
        {% for item in catalog %}
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{item.galleryURL}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">16 Smeckles </h5>
              <p class="card-text">{{item.title}}</p>
              <a href="/sponsors" class="btn btn-primary">View</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endblock %}
