{% extends 'sponsor_app/base.html' %}

{% block content %}
<H1>Driver Id: {{driver.id}} ({{driver.name}})
  <form action="/sponsors/edit_driver/{{driver.id}}" method="post">
    {% csrf_token %}
    <input type="submit" value="Remove Driver">
  </form>
</H1>

<form action="/sponsors/edit_driver/{{driver.id}}" method="post">
  {% csrf_token %}
  <label for="driver_name">Name: {{driver.name}}</label><br>
  <input type="text" id="driver_name" name="driver_name"><br>
  <label for="credits">Credits: {{driver.credits}}</label><br>
  <input type="number" id="credits" name="credits"><br>
</form>

{% endblock %}
