.btn {
  background-color: 82 45 128;
}

.my-class {
  color: red;
}

.purp {
  background-color: #522D80;
  color:#FFFFFF
}

.card-hover {
  margin: auto;
}
.card-hover:hover {
  transform: scale(0.5);
  
}
.card-body{
  width: 18rem;
}
.body {
  background-color: #F56600;
}

.navbar {
  background-color: #522D80;
}
.container-fullwidth {
  background-color: black;
}
